## This notebook is used to test the preprocessing logic

In [1]:
import numpy as np
import pandas as pd

In [2]:
tournaments = ["2024-wimbledon"]

In [3]:
df_match_raw = pd.read_csv("../data/raw/2024-wimbledon-matches.csv")
df_match_raw.head()

,match_id,year,slam,match_num,player1,player2,status,winner,event_name,round,court_name,court_id,player1id,player2id,nation1,nation2
0,2024-wimbledon-1101,2024,wimbledon,1101,Jannik Sinner,Yannick Hanfmann,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-wimbledon-1102,2024,wimbledon,1102,Matteo Berrettini,Marton Fucsovics,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2024-wimbledon-1103,2024,wimbledon,1103,Sumit Nagal,Miomir Kecmanovic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2024-wimbledon-1104,2024,wimbledon,1104,Daniel Elahi Galan,Tallon Griekspoor,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2024-wimbledon-1105,2024,wimbledon,1105,Nicolas Jarry,Denis Shapovalov,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df_point_raw = pd.read_csv("../data/raw/2024-wimbledon-points.csv")
df_point_raw.head()

,match_id,ElapsedTime,SetNo,P1GamesWon,P2GamesWon,SetWinner,GameNo,GameWinner,PointNumber,PointWinner,...,P2TurningPoint,ServeNumber,WinnerType,WinnerShotType,P1DistanceRun,P2DistanceRun,RallyCount,ServeWidth,ServeDepth,ReturnDepth
0,2024-wimbledon-1101,0:00:00,1,0,0,0,1,0,0X,0,...,NaN,0,0,0,0.000,0.000,0,NaN,NaN,NaN
1,2024-wimbledon-1101,0:00:00,1,0,0,0,1,0,0Y,0,...,NaN,0,0,0,0.000,0.000,0,NaN,NaN,NaN
2,2024-wimbledon-1101,0:00:00,1,0,0,0,1,0,1,1,...,NaN,1,0,0,6.888,8.240,1,C,NCTL,ND
3,2024-wimbledon-1101,0:00:23,1,0,0,0,1,0,2,2,...,NaN,0,0,0,3.120,3.127,0,BW,CTL,ND
4,2024-wimbledon-1101,0:00:56,1,0,0,0,1,0,3,1,...,NaN,1,0,0,16.068,18.277,5,C,NCTL,D

In [5]:
df_matches_raw_sub = df_match_raw[["match_id", "player1", "player2"]]
joint_df = pd.merge(df_matches_raw_sub, df_point_raw, on="match_id", how="left")
joint_df.head()

,match_id,player1,player2,ElapsedTime,SetNo,P1GamesWon,P2GamesWon,SetWinner,GameNo,GameWinner,...,P2TurningPoint,ServeNumber,WinnerType,WinnerShotType,P1DistanceRun,P2DistanceRun,RallyCount,ServeWidth,ServeDepth,ReturnDepth
0,2024-wimbledon-1101,Jannik Sinner,Yannick Hanfmann,0:00:00,1,0,0,0,1,0,...,NaN,0,0,0,0.000,0.000,0,NaN,NaN,NaN
1,2024-wimbledon-1101,Jannik Sinner,Yannick Hanfmann,0:00:00,1,0,0,0,1,0,...,NaN,0,0,0,0.000,0.000,0,NaN,NaN,NaN
2,2024-wimbledon-1101,Jannik Sinner,Yannick Hanfmann,0:00:00,1,0,0,0,1,0,...,NaN,1,0,0,6.888,8.240,1,C,NCTL,ND
3,2024-wimbledon-1101,Jannik Sinner,Yannick Hanfmann,0:00:23,1,0,0,0,1,0,...,NaN,0,0,0,3.120,3.127,0,BW,CTL,ND
4,2024-wimbledon-1101,Jannik Sinner,Yannick Hanfmann,0:00:56,1,0,0,0,1,0,...,NaN,1,0,0,16.068,18.277,5,C,NCTL,D

In [6]:
joint_df.columns.tolist()

['match_id',
 'player1',
 'player2',
 'ElapsedTime',
 'SetNo',
 'P1GamesWon',
 'P2GamesWon',
 'SetWinner',
 'GameNo',
 'GameWinner',
 'PointNumber',
 'PointWinner',
 'PointServer',
 'Speed_KMH',
 'Rally',
 'P1Score',
 'P2Score',
 'P1Momentum',
 'P2Momentum',
 'P1PointsWon',
 'P2PointsWon',
 'P1Ace',
 'P2Ace',
 'P1Winner',
 'P2Winner',
 'P1DoubleFault',
 'P2DoubleFault',
 'P1UnfErr',
 'P2UnfErr',
 'P1NetPoint',
 'P2NetPoint',
 'P1NetPointWon',
 'P2NetPointWon',
 'P1BreakPoint',
 'P2BreakPoint',
 'P1BreakPointWon',
 'P2BreakPointWon',
 'P1FirstSrvIn',
 'P2FirstSrvIn',
 'P1FirstSrvWon',
 'P2FirstSrvWon',
 'P1SecondSrvIn',
 'P2SecondSrvIn',
 'P1SecondSrvWon',
 'P2SecondSrvWon',
 'P1ForcedError',
 'P2ForcedError',
 'History',
 'Speed_MPH',
 'P1BreakPointMissed',
 'P2BreakPointMissed',
 'ServeIndicator',
 'Serve_Direction',
 'Winner_FH',
 'Winner_BH',
 'ServingTo',
 'P1TurningPoint',
 'P2TurningPoint',
 'ServeNumber',
 'WinnerType',
 'WinnerShotType',
 'P1DistanceRun',
 'P2DistanceRun',
 'RallyCount',
 'ServeWidth',
 'ServeDepth',
 'ReturnDepth']

In [7]:
useful_columns = ['match_id', 'player1', 'player2', 'P1GamesWon', 'SetNo', 'ServeIndicator',
                  'P2GamesWon', 'SetWinner', 'GameNo', 'PointNumber',
                  'PointWinner', 'PointServer', 'P1Score', 'P2Score', 'P1PointsWon',
                  'P2PointsWon', 'P1Momentum', 'P2Momentum']

In [8]:
joint_df = joint_df[useful_columns]
joint_df.head()

,match_id,player1,player2,P1GamesWon,SetNo,ServeIndicator,P2GamesWon,SetWinner,GameNo,PointNumber,PointWinner,PointServer,P1Score,P2Score,P1PointsWon,P2PointsWon,P1Momentum,P2Momentum
0,2024-wimbledon-1101,Jannik Sinner,Yannick Hanfmann,0,1,0,0,0,1,0X,0,0,0,0,0,0,0,0
1,2024-wimbledon-1101,Jannik Sinner,Yannick Hanfmann,0,1,0,0,0,1,0Y,0,0,0,0,0,0,0,0
2,2024-wimbledon-1101,Jannik Sinner,Yannick Hanfmann,0,1,1,0,0,1,1,1,1,15,0,1,0,2,1
3,2024-wimbledon-1101,Jannik Sinner,Yannick Hanfmann,0,1,1,0,0,1,2,2,1,15,15,1,1,1,2
4,2024-wimbledon-1101,Jannik Sinner,Yannick Hanfmann,0,1,1,0,0,1,3,1,1,30,15,2,1,2,1

In [9]:
# Remove 0 Point Winner
joint_df = joint_df[joint_df['PointWinner'].isin([1, 2])].copy()
joint_df.head()

,match_id,player1,player2,P1GamesWon,SetNo,ServeIndicator,P2GamesWon,SetWinner,GameNo,PointNumber,PointWinner,PointServer,P1Score,P2Score,P1PointsWon,P2PointsWon,P1Momentum,P2Momentum
2,2024-wimbledon-1101,Jannik Sinner,Yannick Hanfmann,0,1,1,0,0,1,1,1,1,15,0,1,0,2,1
3,2024-wimbledon-1101,Jannik Sinner,Yannick Hanfmann,0,1,1,0,0,1,2,2,1,15,15,1,1,1,2
4,2024-wimbledon-1101,Jannik Sinner,Yannick Hanfmann,0,1,1,0,0,1,3,1,1,30,15,2,1,2,1
5,2024-wimbledon-1101,Jannik Sinner,Yannick Hanfmann,0,1,1,0,0,1,4,1,1,40,15,3,1,4,1
6,2024-wimbledon-1101,Jannik Sinner,Yannick Hanfmann,0,1,1,0,0,1,5,2,1,40,30,3,2,2,2

In [10]:
need_shift_columns = ['P1GamesWon', 'P2GamesWon', 'P1Score', 'P2Score',
                       'P1PointsWon', 'P2PointsWon', 'P1Momentum', 'P2Momentum']
for col in need_shift_columns:
    joint_df[f'Prev{col}'] = joint_df.groupby('match_id')[col].shift(1).fillna(0)

joint_df.head()

,match_id,player1,player2,P1GamesWon,SetNo,ServeIndicator,P2GamesWon,SetWinner,GameNo,PointNumber,...,P1Momentum,P2Momentum,PrevP1GamesWon,PrevP2GamesWon,PrevP1Score,PrevP2Score,PrevP1PointsWon,PrevP2PointsWon,PrevP1Momentum,PrevP2Momentum
2,2024-wimbledon-1101,Jannik Sinner,Yannick Hanfmann,0,1,1,0,0,1,1,...,2,1,0.0,0.0,0,0,0.0,0.0,0.0,0.0
3,2024-wimbledon-1101,Jannik Sinner,Yannick Hanfmann,0,1,1,0,0,1,2,...,1,2,0.0,0.0,15,0,1.0,0.0,2.0,1.0
4,2024-wimbledon-1101,Jannik Sinner,Yannick Hanfmann,0,1,1,0,0,1,3,...,2,1,0.0,0.0,15,15,1.0,1.0,1.0,2.0
5,2024-wimbledon-1101,Jannik Sinner,Yannick Hanfmann,0,1,1,0,0,1,4,...,4,1,0.0,0.0,30,15,2.0,1.0,2.0,1.0
6,2024-wimbledon-1101,Jannik Sinner,Yannick Hanfmann,0,1,1,0,0,1,5,...,2,2,0.0,0.0,40,15,3.0,1.0,4.0,1.0

In [11]:
# Create Sets Won columns
joint_df['P1SetsWon'] = (joint_df['SetWinner'] == 1).astype(int)
joint_df['P2SetsWon'] = (joint_df['SetWinner'] == 2).astype(int)

joint_df['P1SetsWon'] = joint_df.groupby('match_id')['P1SetsWon'].cumsum()
joint_df['P2SetsWon'] = joint_df.groupby('match_id')['P2SetsWon'].cumsum()

joint_df['PrevP1SetsWon'] = joint_df.groupby('match_id')['P1SetsWon'].shift(1).fillna(0)
joint_df['PrevP2SetsWon'] = joint_df.groupby('match_id')['P2SetsWon'].shift(1).fillna(0)

In [12]:
# Transform features from P1 P2 perspective to Server Receiver perspective
joint_df[f'Server'] = np.where(joint_df['PointServer'] == 1, joint_df['player1'], joint_df['player2'])
joint_df[f'Receiver'] = np.where(joint_df['PointServer'] == 1, joint_df['player2'], joint_df['player1'])

joint_df[f'ServerScore'] = np.where(joint_df['PointServer'] == 1, joint_df['PrevP1Score'], joint_df['PrevP2Score'])
joint_df[f'ReceiverScore'] = np.where(joint_df['PointServer'] == 1, joint_df['PrevP2Score'], joint_df['PrevP1Score'])

columns_to_transform = ['GamesWon', 'PointsWon', 'Momentum', 'SetsWon']

for column in columns_to_transform:
    joint_df[f'Server{column}'] = np.where(
        joint_df['PointServer'] == 1,
        (joint_df[f'PrevP1{column}']).astype(int),
        (joint_df[f'PrevP2{column}']).astype(int)
    )
    joint_df[f'Receiver{column}'] = np.where(
        joint_df['PointServer'] == 1,
        (joint_df[f'PrevP2{column}']).astype(int),
        (joint_df[f'PrevP1{column}']).astype(int)
    )

joint_df['ServerWon'] = (joint_df['PointWinner'] == joint_df['PointServer']).astype(int)

# Remove double fault points
joint_df = joint_df[joint_df['ServeIndicator'].isin([1, 2])].copy()

joint_df.head()

,match_id,player1,player2,P1GamesWon,SetNo,ServeIndicator,P2GamesWon,SetWinner,GameNo,PointNumber,...,ReceiverScore,ServerGamesWon,ReceiverGamesWon,ServerPointsWon,ReceiverPointsWon,ServerMomentum,ReceiverMomentum,ServerSetsWon,ReceiverSetsWon,ServerWon
2,2024-wimbledon-1101,Jannik Sinner,Yannick Hanfmann,0,1,1,0,0,1,1,...,0,0,0,0,0,0,0,0,0,1
3,2024-wimbledon-1101,Jannik Sinner,Yannick Hanfmann,0,1,1,0,0,1,2,...,0,0,0,1,0,2,1,0,0,0
4,2024-wimbledon-1101,Jannik Sinner,Yannick Hanfmann,0,1,1,0,0,1,3,...,15,0,0,1,1,1,2,0,0,1
5,2024-wimbledon-1101,Jannik Sinner,Yannick Hanfmann,0,1,1,0,0,1,4,...,15,0,0,2,1,2,1,0,0,1
6,2024-wimbledon-1101,Jannik Sinner,Yannick Hanfmann,0,1,1,0,0,1,5,...,15,0,0,3,1,4,1,0,0,0

In [13]:
final_columns = ['match_id', 'Server', 'Receiver', 'GameNo', 'SetNo', 'ServeNumber',
                 'PointNumber', 'ServerGamesWon', 'ReceiverGamesWon',
                 'ServerScore', 'ReceiverScore', 'ServerPointsWon', 'ReceiverPointsWon',
                 'ServerMomentum', 'ReceiverMomentum', 'ServerSetsWon', 'ReceiverSetsWon', 'ServerWon']
final_df = joint_df[final_columns].copy()
final_df.head()

KeyError: "['ServeNumber'] not in index"