## This notebook is used to test the preprocessing logic

In [2]:
import pandas as pd

In [ ]:
tournaments = ["2024-wimbledon"]

In [10]:
df_match_raw = pd.read_csv("../data/raw/2024-wimbledon-matches.csv")
df_match_raw.head()

,match_id,year,slam,match_num,player1,player2,status,winner,event_name,round,court_name,court_id,player1id,player2id,nation1,nation2
0,2024-wimbledon-1101,2024,wimbledon,1101,Jannik Sinner,Yannick Hanfmann,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-wimbledon-1102,2024,wimbledon,1102,Matteo Berrettini,Marton Fucsovics,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2024-wimbledon-1103,2024,wimbledon,1103,Sumit Nagal,Miomir Kecmanovic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2024-wimbledon-1104,2024,wimbledon,1104,Daniel Elahi Galan,Tallon Griekspoor,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2024-wimbledon-1105,2024,wimbledon,1105,Nicolas Jarry,Denis Shapovalov,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_points_raw = pd.read_csv("../data/raw/2024-wimbledon-points.csv")
df_points_raw.head()

,match_id,ElapsedTime,SetNo,P1GamesWon,P2GamesWon,SetWinner,GameNo,GameWinner,PointNumber,PointWinner,...,P2TurningPoint,ServeNumber,WinnerType,WinnerShotType,P1DistanceRun,P2DistanceRun,RallyCount,ServeWidth,ServeDepth,ReturnDepth
0,2024-wimbledon-1101,0:00:00,1,0,0,0,1,0,0X,0,...,NaN,0,0,0,0.000,0.000,0,NaN,NaN,NaN
1,2024-wimbledon-1101,0:00:00,1,0,0,0,1,0,0Y,0,...,NaN,0,0,0,0.000,0.000,0,NaN,NaN,NaN
2,2024-wimbledon-1101,0:00:00,1,0,0,0,1,0,1,1,...,NaN,1,0,0,6.888,8.240,1,C,NCTL,ND
3,2024-wimbledon-1101,0:00:23,1,0,0,0,1,0,2,2,...,NaN,0,0,0,3.120,3.127,0,BW,CTL,ND
4,2024-wimbledon-1101,0:00:56,1,0,0,0,1,0,3,1,...,NaN,1,0,0,16.068,18.277,5,C,NCTL,D

In [14]:
df_matches_raw_sub = df_match_raw[["match_id", "player1", "player2"]]
joint_df = pd.merge(df_matches_raw_sub, df_points_raw, on="match_id", how="left")
joint_df.head()

,match_id,player1,player2,ElapsedTime,SetNo,P1GamesWon,P2GamesWon,SetWinner,GameNo,GameWinner,...,P2TurningPoint,ServeNumber,WinnerType,WinnerShotType,P1DistanceRun,P2DistanceRun,RallyCount,ServeWidth,ServeDepth,ReturnDepth
0,2024-wimbledon-1101,Jannik Sinner,Yannick Hanfmann,0:00:00,1,0,0,0,1,0,...,NaN,0,0,0,0.000,0.000,0,NaN,NaN,NaN
1,2024-wimbledon-1101,Jannik Sinner,Yannick Hanfmann,0:00:00,1,0,0,0,1,0,...,NaN,0,0,0,0.000,0.000,0,NaN,NaN,NaN
2,2024-wimbledon-1101,Jannik Sinner,Yannick Hanfmann,0:00:00,1,0,0,0,1,0,...,NaN,1,0,0,6.888,8.240,1,C,NCTL,ND
3,2024-wimbledon-1101,Jannik Sinner,Yannick Hanfmann,0:00:23,1,0,0,0,1,0,...,NaN,0,0,0,3.120,3.127,0,BW,CTL,ND
4,2024-wimbledon-1101,Jannik Sinner,Yannick Hanfmann,0:00:56,1,0,0,0,1,0,...,NaN,1,0,0,16.068,18.277,5,C,NCTL,D

In [ ]:
important_features = [
    'match_id', 'player1', 'player2', 'PointServer', 'ServeNumber', 
    'Prev_P1Score', 'Prev_P2Score', 'Prev_P1GamesWon', 'Prev_P2GamesWon',
    'SetNo', 'P1Momentum', 'P2Momentum', 'ElapsedTime', 'ServerWins'
]